@import "palette.scss";

html {
    height: 100%;
    width: 100%;
}

body {

    @import "plateau.scss";
    @import "menu.scss";
    @import "acrylic.scss";

    // background: #16161d;
    background: var(--bg);
    color: white;
    font-family: sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden;

    .pointeur {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 1/1;
        height: 5vh;
        pointer-events: none;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0; left: 0;
            border: 1px solid white;
        }
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 0; bottom: 0;
            border: 1px solid white;
        }
        z-index: 20;
        mix-blend-mode: difference;
    }

    .fileloader {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 20;
        background: rgba(0, 0, 0, .7);
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        backdrop-filter: blur(5px);
    }

}
