@use "menu-expand-inputs.scss" as inputs;

button {

    --couleur: var(--fg-neutre);

    position: relative;
    max-height: 100%;
    // height: 100%;
    height: 45px;
    margin: 2px;
    box-sizing: border-box;
    background: transparent;
    border-radius: 5px;
    padding: 0px;
    color: var(--fg);
    font-weight: bold;
    border: none;
    transition: ease all .1s;
    
    .btn-cont {

        height: 100%;
        width: max-content;
        display: flex;
        align-items: center;
        text-align: center;
        background: transparent;
        box-sizing: border-box;
        border: 1px solid var(--couleur);
        border-bottom-width: 6px;
        border-radius: 5px;
	    transition: ease all .1s;

        .icon {
            height: 100%;
            box-sizing: border-box;
            max-height: 100%;
            //padding: 2px;
            position: relative;
	    display: flex;
	    align-items: center;

            img { height: 35px; box-sizing: border-box; user-select: none; pointer-events: none; &.none { display: none; } }

            &.key::before { 
                content: attr(data-key);
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                text-align: center;
                font-size: 90%;
                font-weight: bolder;
                justify-content: center;
                align-items: center;
                display: flex;
            }

        }

        .text {
            padding-left: 5px;
            padding-right: 7px;
            user-select: none;
        }

    }

    &:hover, &.hover {
        .btn-cont { 
            background: var(--bg-2);
        }
    }
    &.hover {
        .btn-cont {
            box-shadow: 0 0 5px 5px var(--bg-3);
        }        
    }
    &:active, &.active {
        padding-top: 5px;
        .btn-cont {
            background: var(--bg-1);
            border-bottom-width: 1px;
        }
    }

    &.primary { 
        --couleur: var(--accent);
    }
    &.danger {
        --couleur: red;
    }
    &.warn {
        --couleur: gold;
    }
    &.alt {
        --couleur: var(--accent-penombre);
    }

    &:disabled {
        pointer-events: none;
        color: var(--fg-clair);
        .btn-cont {
            border-color: var(--neutre-tertiare-alt);
            img { filter: saturate(0); }
        }
    }

}

.link, .expand .titre {

    border: var(--bordure);
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    background: var(--bg-2);
    transition: all ease .1s;
    min-height: 30px;
    overflow: hidden;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    
    .selector {
        min-width: 0px;
        width: 0;
        overflow: hidden;
        display: flex;
        background: transparent;
        color: transparent;
        align-items: center;
        justify-content: center;
        border-radius: 5px 0 0 5px; 
        font-weight: bolder;
        transition: all ease .1s;
        user-select: none;
        height: 100%;
        color: var(--accent-icone);
    }

    .text {
        padding: 5px;
        user-select: none;
        width: 100%;
    }

    i {
        padding: 0 10px;
        transition: all .1s ease;
        color: var(--accent-icon);
    }

    &:hover, &.hover {

        background: var(--bg-2);
        font-weight: bold;
        .selector {
            min-width: 50px;
            background: var(--accent);
        }
        // i { color: var(--accent-ter); }
    }

    &.disabled {
        color: var(--fg-clair);
        .selector {
            color: var(--fg-clair);
            background: var(--bg-1);
        }
    }

}

.expand {

    --nb-elem: 0;

    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    display: block;
    flex-direction: column;
    height: max-content;
    grid-template-rows: 30px auto;
    box-sizing: border-box;
    // height: 30px;
    border: var(--bordure);
    
    .titre { 
        height: 30px;
        .selector { 
            height: 100%;            
            border-bottom-left-radius: 0;
        } 
        border: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .value {
            white-space: nowrap;
            font-weight: lighter;
            color: var(--fg-neutre);
        }
    }

    .fa-minus { display: none; }

    ul.expand_list {
        margin: 0;
        padding: 0;
        height: 0;
        overflow: hidden;
        transition: height ease .1s;

        li.expand_list_elem {
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: start;
            box-sizing: border-box;
            padding: 0;
            background: var(--bg-1);
            border-bottom: var(--bordure);
            &:last-child {
                border-bottom: none;
            }

            @include inputs.all;

        }

    }

    .__menu_select { display: none; }

    &.hover .titre {
        & {
            font-weight: bold;
            .selector {
                min-width: 50px;
                background: var(--accent);
            }
        }
    }

    input.__menu_select:checked ~ .titre, &.active .titre {
        .fa-plus { display: none; }
        .fa-minus { display: block; }
        & {
            font-weight: bold;
            .selector {
                min-width: 50px;
                background: var(--accent);
            }
        }
    } 
    input.__menu_select:checked ~ ul.expand_list, &.active ul.expand_list {
        height: calc(30px * var(--nb-elem));
    }



}

.textinput {

    width: 100%;
    height: 30px;
    background-color: var(--bg-1);
    border-radius: 5px;
    border: var(--bordure);
    box-sizing: border-box;

    input {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        height: 100%;
        background: none;
        color: var(--fg);
        border: none;
        border-bottom: 2px solid var(--bg-3);
        padding: 0 5px;
        border-radius: inherit;

        &:hover, &.hover, &:focus { 
            outline: none; 
            border-color: var(--accent);
        }

        &:invalid {
            border-color: red;
            color: red;
        }

    }

}
