.menu {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
    z-index: 30;
    color: var(--fg);

    @import "menu-inputs.scss";

    & .panel {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .lock-bg {

        // background: repeating-linear-gradient(
        //     -45deg,
        //     var(--bg),
        //     var(--bg) 10px,
        //     var(--bg-1) 10px,
        //     var(--bg-1) 20px
        //   );
        background: repeating-linear-gradient(
            -45deg,
            var(--bg),
            var(--bg-1) 10px,
            var(--bg) 20px,
        );
        opacity: 0;
        transition: ease .1s all;
    }

    &.lock {

        // backdrop-filter: blur(5px);
        .lock-bg { opacity: .7; pointer-events: all; }
        
    }

    .popupContainer {

        display: flex;
        align-items: center;
        justify-content: center;

        .popup {

            display: block;
            width: 100%;
            height: 100%;
            pointer-events: all;
            transition: ease .1s all;
            box-sizing: border-box;
            padding: 10px;
            
            background: var(--bg);
            border-radius: 0;

            .content {
                
                position: relative;
                box-sizing: border-box;
                display: grid;
                height: 100%;
                width: 100%;
                grid-template-columns: auto;
                grid-template-rows: 25px auto 45px;
                gap: 2px;

                .nav {  
                    color: var(--fg-neutre);
                    font-size: small;
                    user-select: none;
                    overflow: hidden;
                    // border-bottom: var(--bordure);
                    // &::before { content: "Odin"; }
                    .sub {
                        transition: border ease .1s, top ease .2s, opacity ease .2s;
                        border-bottom: transparent 1px solid;
                        &::before {
                            content: " / ";
                        }
                        &:hover {
                            border-bottom-color: var(--accent);
                        }
                        animation: nav-slide ease .2s;
                        top: 0; opacity: 1;
                        &.rm {
                            top: 100%; opacity: 0;
                        }
                        position: relative;
                    }

                }

                .pages {

                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    max-height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    border-top: var(--bordure);
                    border-bottom: var(--bordure);

                    &::-webkit-scrollbar {
                        display: none;
                    }
                    
                    h1 { padding-left: 5px; margin: 15px 0; user-select: none; }

                    .page {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        // justify-content: center;
                        
                        box-sizing: border-box;
                        width: 100%;
                        gap: 5px;
                        padding: 5px;

                        
                        .infocard { 
                            box-sizing: border-box;
                            padding: 5px;
                            border-left: 6px solid var(--accent);
                            border-radius: 5px;
                            margin-bottom: 15px;
                            user-select: none;
                        }

                        .loader {
                            height: 40px;
                            width: 40px;
                            position: relative;
                            border: 4px solid transparent;
                            border-left-color: var(--fg);
                            border-bottom-color: var(--fg);
                            border-right-color: var(--fg);
                            border-radius: 50%;
                            animation: spin linear infinite 2s;
                            &::after {
                                content: '';
                                position: absolute;
                                top: 2px; left: 2px; right: 2px; bottom: 2px;
                                border: 2px solid transparent;
                                border-left-color: var(--accent);
                                border-top-color: var(--accent);
                                border-radius: 50%;
                                animation: spin linear infinite 1s;
                            }
                            &::before {
                                content: '';
                                position: absolute;
                                top: 6px; left: 6px; right: 6px; bottom: 6px;
                                border: 3px solid transparent;
                                border-bottom-color: var(--fg);
                                border-radius: 50%;
                                animation: spin linear infinite 2s;
                            }
                        }

                        .imgbox {
                            // max-height: 100%;
                            width: 100%;
                            &.h { max-height: 50% }
                            &.q { max-height: 25% }
                            display: flex;
                            justify-content: center;
                            box-sizing: border-box;
                            img {
                                max-width: 620px;
                                width: 100%; box-sizing: border-box; user-select: none; pointer-events: none;
                            }
                        }

                        animation: page-slide-in cubic-bezier(0.49, 0.03, 0, 1.46) .4s;
                        &.fade {
                            animation: page-fade-out ease-in .2s;
                            opacity: 0;
                        }
                    }

                }

                .controls {
                    
                    box-sizing: border-box;
                    height: 45px;
                    width: 100%;
                    // border-top: var(--bordure);
                    display: flex;

                    .infos {
                        width: 100%;
                    }

                }

            }

            &.acrylic { 
                background: transparent; 
                .content { background: transparent; }
            }
            &.hidden { pointer-events: none; opacity: 0; }

        }

    }

}

@media (min-width: 720px) and (min-height: 500px) {

    .menu {

        .popupContainer .popup { 
            border-radius: 8px;
            padding: 15px;
            height: calc(100% - 50px); 
            width: 720px; 
            border: var(--bordure);
        }

    }

}

@keyframes page-slide-in {

    from {
        transform: translate(50%);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }

}

@keyframes page-fade-out {

    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.7);
    }

}

@keyframes nav-slide {

    from {
        top: 100%;
        opacity: 0;
    }

    to {
        top: 0%;
        opacity: 1;
    }

}

@keyframes spin {

    from { transform: rotate(0); }
    to { transform: rotate(360deg); }

}