@mixin base {
    
    width: 100%;
    position: relative;

    .fa-arrow-left {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(30px, -50%);
        color: var(--fg);
        transition: all ease .1s;
        opacity: 0;
    }
    
    &:hover, &.hover {
        .fa-arrow-left {
            transform: translate(-5px, -50%);
            color: var(--accent);
            opacity: 1;
        }
    }

}

@mixin radio {

    @include base();

    input { display: none; }

    label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        transition: all ease .1s;

        .switch {
            position: relative;
            display: inline-block;
            height: 24px;
            box-sizing: border-box;
            aspect-ratio: 1/1;
            background-color: var(--bg-1);
            margin: 2px;
            border-radius: 5px;
            border: var(--bg-3) solid 2px;
            transition: all ease .1s;
            &::after {
                content: '';
                height: 14px;
                width: 14px;
                top: 3px;
                left: 3px;
                position: absolute;
                background: var(--bg-1);
                border-radius: 2px;
                transition: all ease .1s;
            }
        }

        .text {
            padding-left: 5px;
            box-sizing: border-box;
            user-select: none;
        }

    }

    input:checked ~ label {
        font-weight: bold;
        .switch {
            border-color: var(--accent-sec);
            background: var(--accent-leg);
            
            &::after {
                background-color: var(--accent-sec);
            }
        }
    }

}

@mixin field {

    @include base();

    display: flex;
    align-items: center;

    .key {
        padding-left: 5px;
        width: 100%;
        user-select: none;
    }
    .value {
        white-space: nowrap;
        padding-right: 5px;
        transition: all .1s ease;
        font-family: monospace;
        user-select: all;
    }

    &:hover, &.hover {
        .value {
            margin-right: 20px;
        }
    }

}

@mixin checkbox {

    @include radio();
    
    label {
        padding-left: 5px;
        .switch {
            border: none;
            background: transparent;
            width: 30px;

            &::before {
                content: "";
                background: var(--bg-2);
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 5px;
                border-radius: 5px;
                transform: translate(0, -50%);
            }

            &::after {
                transform: translate(0, -50%);
                top: 50%;
                left: 2px;
                background: var(--bg-3);
                border-radius: 50%;
                height: 15px;
                width: 15px;
            }

        }

    }
    
    input:checked ~ label {
        font-weight: normal;
        .switch {
            background: transparent;
            &::before {
                background: var(--accent-ter);
            }
            &::after{
                left: 13px;
            }
        }
    }

}


@mixin all {

    & .elist {

        &.radio { @include radio(); }
        &.field { @include field(); }
        &.checkbox { @include checkbox(); }

    }

}