/*
Généré avec https://fluentuipr.z22.web.core.windows.net/heads/master/theming-designer/index.html
*/

@mixin clair {
    
    /* Foreground */
    --noir: #000000;
    --neutre-sombre: #201f1e;
    --neutre: #323130;
    --neutre-alt: #3b3a39;
    --neutre-secondaire: #605e5c;
    --neutre-tertiaire: #a19f9d;
    --neutre-secondaire-alt: #8a8886;
    --blanc: #ffffff;

    /* Background */
    --neutre-tertiare-alt: #c8c8c8;
    --neutre-sombre: #201f1e;
    --neutre-quatre: #dadada;
    --neutre-clair: #eaeaea;
    --neutre-pale: #f4f4f4;
    --neutre-pale-alt: #f8f8f8;
    
    /* rose */
    --rosePenombre: #720043;
    --roseSombre: #9b005a;
    --roseSombreAlt: #b8006b;
    --rose: #cc0077;
    --roseSecondaire: #d21985;
    --roseTertiaire: #e05aa8;
    --roseLeger: #f0a8d2;
    --rosePale: #f7vfe6;
    --rosePaleAlt: #fdf3f9;

    /* Bleu */
    --bleuPenombre: #023b74;
    --bleuSombre: #03509d;
    --bleuSombreAlt: #045fba;
    --bleu: #0469cf;
    --bleuSecondaire: #1d79d4;
    --bleuTertiaire: #5da0e2;
    --bleuLeger: #aacdf0;
    --bleuPale: #d0e4f7;
    --bleuPaleAlt: #f3f8fd;

}

:root {

    @include clair();
    
}

@mixin dark {

    /* rose */
    --rosePenombre: #ec95c8;
    --roseSombre: #e673b6;
    --roseSombreAlt: #e15ba9;
    --rose: #dd4ca0;
    --roseSecondaire: #c3428e;
    --roseTertiaire: #852d61;
    --roseLeger: #431730;
    --rosePale: #230c1a;
    --rosePaleAlt: #090306;

    /* Bleu */
    --bleuPenombre: #73b9ff;
    --bleuSombre: #41a0ff;
    --bleuSombreAlt: #1e8fff;
    --bleu: #0482ff;
    --bleuSecondaire: #0472e0;
    --bleuTertiaire: #034e99;
    --bleuLeger: #02274d;
    --bleuPale: #011529;
    --bleuPaleAlt: #00050a;

    /* Foreground */
    --noir: #fdfdfe;
    --neutre-sombre: #fbfcfd;
    --neutre: #f1f2f6;
    --neutre-alt: #f8f9fa;
    --neutre-secondaire: #f6f7f9;
    --neutre-tertiaire: #f5f6f8;
    --neutre-secondaire-alt: #f6f7f9;
    --blanc: #1a1a1a;

    /* Background */
    --neutre-tertiare-alt: #6a6a6a;
    --neutre-sombre: #fbfcfd;
    --neutre-quatre: #444444;
    --neutre-clair: #3b3b3b;
    --neutre-pale: #2c2c2c;
    --neutre-pale-alt: #232323;

    /* Accent */
    --accent: var(--bleu);
    --accent-sec: var(--bleuSecondaire);
    --accent-ter: var(--bleuTertiaire);
    --accent-leg: var(--bleuLeger);
    --accent-pal: var(--bleuPale);
    --accent-sombre: var(--bleuSombre);
    --accent-sombre-alt: var(--bleuSombreAlt);
    --accent-penombre: var(--bleuPenombre);
    --accent-icone: white;
    
}

@mixin rose {
    
    /* Accent */
    --accent: var(--rose);
    --accent-sec: var(--roseSecondaire);
    --accent-ter: var(--roseTertiaire);
    --accent-leg: var(--roseLeger);
    --accent-pal: var(--rosePale);
    --accent-sombre: var(--roseSombre);
    --accent-sombre-alt: var(--roseSombreAlt);
    --accent-penombre: var(--rosePenombre);
    --accent-icone: white;

}

body { @include rose; }

@media (prefers-color-scheme: dark) {
    
    body { @include dark }

}

@media (prefers-color-scheme: light) {
    body { @include rose }
}

body.dark {
    @include dark;
}

body.light {
    @include clair();
    @include rose();
}


/* raccourcis */
body {

    --bg: var(--blanc);
    --bg-1: var(--neutre-pale);
    --bg-2: var(--neutre-quatre);
    --bg-3: var(--neutre-tertiare-alt);
    --bg-sombre: var(--neutre-sombre);
    --bg-inverse: var(--noir);

    --bordure: 1px solid var(--neutre-tertiare-alt);
    --ombre-1: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    --ombre-2: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
    --ombre-3: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
    --ombre-4: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);

    --fg: var(--noir);
    --fg-clair: var(--neutre-tertiare-alt);
    --fg-neutre: var(--neutre);
    --fg-inverse: var(--blanc);

    --acrylic-blur: 15px;

    color: var(--fg);

}