.plateau-wrap {


    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    
    .plateau {
        
        --echelle: 0.1;
        --angle: 0deg;
        --dx: 0;
        --dy: 0;
        --override: 0;
        --vertical: 0;

        position: relative;
        box-sizing: border-box;
        // border: 1px solid red;        
        aspect-ratio: 3/2;
        height: calc(2000px * var(--echelle));
        transition: all ease .1s;
        background: url(../img/table.png);
        background-size: cover;

        &.vertical {
            transform: rotate(90deg);
            --vertical: 1;
        }

        &.override {
            --override: 1;
            transform: rotate(var(--angle)) translate( calc(var(--dx) * var(--echelle) * -1px), calc(var(--dy) * var(--echelle) * 1px) );
            &.noanim {
                transition: none;
                .objet { transition: none !important; }
            }            
        }

        .couche {

            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            pointer-events: none;

            .objet {
                --x: 0; --y: 0; --alpha: 0rad; --rayon: 10; --phi: 0rad;
                height: calc(2 * var(--rayon) * var(--echelle) * 1px);
                width: calc(2 * var(--rayon) * var(--echelle) * 1px);
                left: calc(var(--x) * var(--echelle) * 1px);
                top: calc(100% - (var(--y) * 1px * var(--echelle)) );
                transform: translate(-50%, -50%) rotate(calc(var(--alpha) + var(--phi)));
                pointer-events: all;
                position: absolute;
                animation: fade-in ease .4s 1;
                transition: all linear .1s;
                background: #999;
                background-size: cover !important;
            }
            
            .gateau {
                --oubli: 0;
                --rayon: 60;
                opacity: calc((5 - var(--oubli)) / 5);
                border-radius: 50%;
                display: block;
                box-shadow: 2px 2px 4px -1px black;
                z-index: 1;

                &.out { opacity: 0; }

                &.jaune {  
                    z-index: 3;
                    background-color: gold; background-image: url(../img/face_couche_jaune.png);
                }
                &.rose {  
                    z-index: 4;
                    background-color: magenta; background-image: url(../img/face_couche_rose.png);   
                }
                &.marron {  
                    z-index: 2;
                    background-color: brown; background-image: url(../img/face_couche_brun.png);   
                }
            }


            .robot {
                --rayon: 190;
                border-radius: 50%;
                background: url(../img/robot1.svg);
                z-index: 5;
            }

            .info {
                --couleur: grey;
                pointer-events: none;
                user-select: none;
                border-left: 5px solid var(--couleur);
                height: max-content;
                width: max-content;
                z-index: 6;
                transform: translate(-50%, -50%) rotate(calc(-1 * var(--override) * var(--angle) + var(--vertical) * (1 - var(--override)) * -90deg));
                background: linear-gradient(to right, rgba(0, 0, 0, .7) calc(100% - 20px), transparent);
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 5px 20px 5px 5px;
                    font-weight: normal;
                    font-size: calc(var(--echelle) * 35px);
                    font-family: monospace;
                }
                opacity: 1;
                &.hidden { opacity: 0; }
                transition: none;
            }

        }

        .ctrl {
            transition: none !important;
        }

    }


}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
